.container {
    justify-content: center;
    align-items: center;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

.form {
    justify-content: center;
    align-items: center;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.links {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
}
