.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 60px;
    width: 1600px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 320px;
}

.link {
    text-decoration: none;
    color: inherit
}

.opacity {
    opacity: 40%
}
