.header {
    background: #1C1C21;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1600px;
}

.left_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.logo {
    flex: 0 0 auto;
}

.right_item {
    padding: 10px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: inherit
}