.container {
    width: 120px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card {
    height: 24px;
    width: 100%;
    text-align: center;
}