.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.block {
    width: 640px;
    height: 575px;
}

.header {
    width: 100%;
    text-align: center;
}

.ingredient_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin: 0;
    padding: 0 0 0 0;
    overflow-y: auto;
    max-height: 290px;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ingredient_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 70px;
    justify-content: space-between;
    width: 100%;
}

.image {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid rgba(77, 26, 178, 0.75);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.98);
    overflow: hidden;
    transition: transform 0.2s ease;
    box-shadow: 0 0 2px 2px #3333ff40;
}

.image_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
