.window {
    background: #1C1C21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.content {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.close_button {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 10;
}