.container {
    width: 568px;
    height: 80px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    visibility: hidden;
}