.container {
    width: 568px;
    height: 80px;
}

.container.dragging {
    opacity: 0.5;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(100, 108, 255, 0.7);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.element {
    width: 536px;
}