.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    width: 520px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 480px;
    height: 240px;
}

.description {
    width: 100%;
    height: 30px;
    text-align: center;
}

.nutrition_container {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}